extends layout

block content
	div#titleContent
		a#mainTitle(href="/")
			h1= title
	div.container
		div#mainContent.row
			div.homeScreenButtonDiv.col-sm-6.col-xs-12
				a.navItemLink(href='/Map')
					button.homeScreenButton.textCenter.btn.col-xs-12
						span.homeScreenButtonIcon.glyphicon.glyphicon-th
						br
						span.homeScreenButtonText Map Tweets
			div.homeScreenButtonDiv.col-sm-6.col-xs-12
				a.navItemLink(href='/Search')
					button.homeScreenButton.textCenter.btn.col-xs-12
						span.homeScreenButtonIcon.glyphicon.glyphicon-search
						br
						span.homeScreenButtonText Search Tweets
