@import url("main.css");

/* MAIN CONTENT */

@media (max-width: 767px) {
	#mainContent {
		padding-right: 0px;
		padding-left: 0px;
	}
}

/* MAP CONTENT */

.tweetContainer {
	width: 100%;
}

.tweetContent {
	padding: 0px;
}

.tweet {
	background-color: white;
	color: black;
    border-radius: 4px;
    border: 1px solid #e1e8ed;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 15px; 
    padding: 15px;
    max-width: 500px;

    margin: 20px auto;
}

.tweetTextDiv, .tweetFooter {
	margin-top: 15px;
}

.tweetUser {
	font-weight: bold;
}

.tweetPlace {
	color: gray;
	text-align: left;
	margin-bottom: 5px;
}

.tweetTime {
	color: gray;
	text-align: right;
	margin-bottom: 5px;
}

@media (max-width: 767px) {
	.tweetPlace {
		margin-bottom: 10px;
	}
	.tweetTime {
		text-align: left;
	}
}

#prompt {
	text-align: center;
}

.mapWordButtonDiv {
	padding: 10px;
}

@media (max-width: 767px) {
	.wordsDiv {
		padding-right: 50px;
		padding-left: 50px;
	}
	.mapWordButtonDiv {
		padding: 5px;
	}
}

.mapWordButton {
	background-color: black;
	color: white;
	height: 50px;
	outline: 0;
	word-wrap: break-word;
	white-space: normal;
}

.mapWordButton:hover, .mapWordButton:focus {
	color: white;
}

.mapWordButton:focus {
	outline: 0 !important;
	background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.mapWordButton.selected {
	background-color: orange;
	color: white;
}