@import url("main.css");

/* MAIN CONTENT */

@media (max-width: 767px) {
	#mainContent {
		padding-right: 0px;
		padding-left: 0px;
	}
}

#searchBarDiv {
	margin-top: 20px;
}

#search-query {
	height: 54px;
}

.searchButton, .searchButton:hover, .searchButton:focus {
	background-color: orange;
	color: white;
}

.searchButton:focus {
	outline: none !important;
	background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.searchIcon {
	color: white;
}

